/** ADD YOUR AWESOME CODES HERE **/

.tech-logo {
    font-size: 1.8rem;
    color: #689D71;
    width: 28.8px;
  }

.green-color {
    color: #689D71;
}

::selection {
      background-color: #B1C1A2;
  }

.cd-headline {
    font-size: 30px;
}

.code-icon {
    font-size: 4rem;
}

h3:after {
    content: '';
    display: block;
    height: 3px;
    background: #689D71;
    width: 8%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

a {
    color: #6c757d;
}

a:hover {
    color: #689D71;
}