/** ADD YOUR AWESOME CODES HERE **/

/* GENERAL */
#rmp h1, #rmp-landing h1 {
    font-family: 'Roboto Slab';
}

#rmp h2 {
    font-size: 1.7rem;
    font-weight: 500;
}

h3:after, #rmp h2:after {
    content: '';
    display: block;
    height: 3px;
    background: #689D71;
    width: 8%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

a {
    color: #6c757d;
}

a:hover {
    color: #689D71;
}

.services-inner-box{
    min-height: 400px;
}

#rmp .navbar-dark .navbar-nav .nav-link:hover{
	font-weight: 500;
}

/* COLOR */
.tech-logo {
    font-size: 1.8rem;
    color: #689D71;
    width: 28.8px;
}

.footer-logo {
    font-size: 3rem;
    color: #ffffff;
}

.green-color, .footer-logo:hover {
    color: #689D71;
}

.main-color {
    color: #B1C1A2;
}

::selection, .green-bg {
    background-color: #B1C1A2;
}

/* FONT-SIZE*/
.cd-headline {
    font-size: 30px;
    font-family: 'Roboto Mono';
}

.code-icon {
    font-size: 3rem;
}

.ml3 {
    font-weight: 900;
    font-size: 3.5em;
  }

/* PADDING-MARGIN */
.top-padding {
    padding-top: 62px;
}

/* IMAGES */
.img-overlay img {
    filter: grayscale(4);
    -webkit-filter: grayscale(14);
    }

.photo-gris img:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

/* TECH BADGES */
.badge-pill {
    font-weight: 400;
}

.html-pill {
    color: #ffffff;
    background-color: #b1c1a2;
}

.css-pill {
    color: #ffffff;
    background-color: #b6a6ca;
}

.php-pill {
    color: #ffffff;
    background-color: #284b63;
}

.wp-pill {
    color: #ffffff;
    background-color: #3c6e71;
}

.figma-pill {
    color: #ffffff;
    background-color: #444444;
}

.angular-pill {
    color: #ffffff;
    background-color: #f18f01;
}

.mongo-pill {
    color: #ffffff;
    background-color: #5c415d;
}

.node-pill {
    color: #ffffff;
    background-color: #8c271e;
}

/* RESPONSIVE */
  @media (max-width: 544px) {

    #rmp h1, #rmp-landing h1 {
        font-size: 2rem;
    }

    #rmp p, #rmp a {
        text-align: left;
    }

    h3:after, #rmp h2:after {
        width: 15%;
        margin-top: 5%;
    }

    .services-inner-box{
        min-height: 0;
    }
    
    .img-size {
        width: 330px;
    }

    .ml3 {
        font-weight: 500;  
        font-size: 1.5rem;
    }
  }